body{background-color: black}
.nav{
	background-color: black;
}
#btn-menu{
	border-top:none;
	border-left: none;
	border-right: none;
	font-size:28px;
	margin-left: 10px;

}

#logo-container{max-width: 8%; margin-right: 10px; min-width: 55px;}
#logo-main{min-width: auto; min-height: 55px;}
.destaques{

	background-color: #F1F1F1;
	opacity: 0.8
}